# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.pytest_cache/

# pyenv
.python-version


# Environments
.venv
venv/

logfile.txt
/requirements.txt
